@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    width: auto;
    margin-left: 15px;
    margin-right: 15px; }

  .gutter {
    margin-left: 10px;
    margin-right: 10px; } }
@media only screen and (min-width: 481px) and (max-width: 768px) {
  #content > .container {
    width: auto; }

  .home_news_carousel .latestnews li.home_post .home_post_txt p {
    display: none; }

  .menu-bar-logo-block {
    width: 260px;
    padding-top: 10px;
    padding-bottom: 10px; }

  span.logo_kl {
    padding: 0; }

  .menu-bar-logo-block img {
    width: 45px;
    margin-top: 8px; }
  .menu-bar-logo-block .logo_name span {
    font-size: 17px;
    line-height: auto;
    padding-top: 0;
    padding-left: 14px; }

  #content > .container {
    width: auto;
    margin-left: 10px;
    margin-right: 10px; }

  .menu-top-container, .top-bar li i.fa, .welcome-carousel .owl-controls .owl-buttons {
    display: none; }

  .menu-top-mob-container {
    display: block; }

  .gutter {
    margin-left: 10px;
    margin-right: 10px; }

  .top-bar {
    text-align: center; }
    .top-bar .left, .top-bar .right {
      text-align: center; }

  .section-support {
    text-align: center; }

  .sidebar-container {
    text-align: left; }
    .sidebar-container .widget-text {
      text-align: left; }

  .copyright-block {
    text-align: left; }
    .copyright-block .left, .copyright-block .right {
      text-align: left; }

  .blog-columns .inner-page-container, .blog-columns .sidebar-container {
    width: auto;
    float: none; }

  .articles-columns .column-3-12, .articles-columns .column-4-12 {
    width: auto;
    float: none; }

  .gallery-columns .column-4-12 {
    width: auto;
    float: none; }

  .top-bar-columns .column-1-12, .top-bar-columns .column-2-12, .top-bar-columns .column-3-12, .top-bar-columns .column-4-12, .top-bar-columns .column-5-12, .top-bar-columns .column-6-12, .top-bar-columns .column-7-12, .top-bar-columns .column-8-12, .top-bar-columns .column-9-12, .top-bar-columns .column-10-12, .top-bar-columns .column-11-12, .top-bar-columns .column-12-12 {
    width: auto;
    float: none; }

  .widgets-columns .column-3-12, .widgets-columns .column-4-12 {
    width: auto;
    float: none; }

  .copyright-columns .column-1-12, .copyright-columns .column-2-12, .copyright-columns .column-3-12, .copyright-columns .column-4-12, .copyright-columns .column-5-12, .copyright-columns .column-6-12, .copyright-columns .column-7-12, .copyright-columns .column-8-12, .copyright-columns .column-9-12, .copyright-columns .column-10-12, .copyright-columns .column-11-12, .copyright-columns .column-12-12 {
    width: auto;
    float: none; }

  .gallery-columns .column-3-12 {
    width: 50%; }

  .contact-columns .column-4-12, .contact-columns .column-8-12 {
    width: 50%; }

  .article-welcome, .article-procedure {
    margin-bottom: 150px; }

  .section-welcome .articles-columns .column-3-12:last-child .article-welcome, .section-welcome .articles-columns .column-4-12:last-child .article-welcome, .section-welcome .articles-columns .column-3-12.last-child .article-welcome, .section-welcome .articles-columns .column-4-12.last-child .article-welcome {
    margin-bottom: 0; }

  .section-procedures .articles-columns .column-3-12:last-child .article-procedure, .section-procedures .articles-columns .column-4-12:last-child .article-procedure, .section-procedures .articles-columns .column-3-12.last-child .article-procedure, .section-procedures .articles-columns .column-4-12.last-child .article-procedure {
    margin-bottom: 0; }

  .article-service {
    margin-bottom: 40px; }

  .section-services {
    padding-bottom: 30px; }

  .blog-columns .inner-page-container {
    margin-bottom: 70px; }

  .sidebar-container .searchform {
    width: 200px; }

  .form-block-container {
    width: auto; }

  .table-support {
    display: block;
    width: auto; }
    .table-support thead, .table-support tbody, .table-support tr, .table-support td, .table-support th {
      display: block;
      width: auto; }
    .table-support tr {
      padding: 3px 0; }
    .table-support td {
      padding: 1px 0; }

  .welcome-carousel .overlay {
    padding-top: 150px; }

  .welcome-overlay {
    font-size: 24px;
    line-height: 30px; }
    .welcome-overlay p {
      font-size: 24px;
      line-height: 30px; }

  .top-bar {
    line-height: 1.3; }
    .top-bar p {
      line-height: 1.3; }
    .top-bar li {
      border-left: 0 none;
      display: block;
      padding: 0; }

  .widget-gallery-columns .column-3-12, .widget-gallery-columns .column-4-12 {
    float: left; }
  .widget-gallery-columns .column-3-12 {
    width: 25%; }
  .widget-gallery-columns .column-4-12 {
    width: 33.33333333333333%; }

  .wp-pagenavi {
    margin-bottom: 50px; }

  .comment-respond input, .comment-respond textarea {
    width: 90%; }

  .sidebar-block {
    display: block;
    margin-top: 40px; }

  li.home_post {
    height: 87px; }

  .home_post_img img {
    width: 130px; }

  .home_news_carousel .latestnews li.home_post .home_post_txt {
    margin-left: 130px; }

  .post-date {
    display: none; }

  .home_pages_grid {
    padding: 20px 15px 5px 15px;
    grid-column-gap: 16px; }

  h5 {
    font-size: 15px; }

  .home_pages_grid li {
    position: relative;
    height: 193px;
    overflow: hidden; }
    .home_pages_grid li:after {
      content: "";
      text-align: right;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 52px;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white 69%); } }
/**  mobile  **/
@media only screen and (max-width: 480px) {
  #content > .container {
    width: auto; }

  .menu-bar-logo-block img {
    float: left;
    width: 41px;
    margin-top: 3px; }

  .menu-bar-logo-block {
    padding-top: 13px;
    padding-left: 13px; }

  .menu-bar-logo-block span {
    padding-top: 3px;
    padding-left: 14px;
    line-height: 17px;
    font-size: 17px; }

  span.logo_kl {
    font-size: 17px; }

  .menu-bar-logo-block .logo_name {
    padding-top: 0px; }

  .menu-top-container {
    position: absolute;
    top: 20px;
    display: block; } }
/**  retina display  **/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  /* Retina-specific stuff here */ }
#content #swipebox-bottom-bar, #swipebox-top-bar {
  font-family: "Roboto";
  font-weight: 300;
  opacity: .65; }

.dkr_standard_table td.column-1 {
  width: 23%;
  text-align: right; }

.dkr_standard_table td.column-2 {
  width: 25%; }

.dkr_standard_table td.column-3 {
  width: 57%; }

/*# sourceMappingURL=resp.css.map */
